body {
    background-image: url("http://orig08.deviantart.net/cd58/f/2007/078/1/6/cb_stock_background_06_by_cb_stock.jpg");
    background-size: cover;
}
#viking {
    border-radius: 50px;
    margin-right: 30px;
}
.top {
    background-color: white;
    color: black;
    font-family: "Times New Roman";
    text-align: center;
    border-radius: 0px !important;
}

#nav {
    text-align: justify;
    min-width: 300px;
    margin-right: 40px;
}
#nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#nav li {
    display: inline-block;
}
a {
    text-decoration: none !important;
    color: inherit;
}
a:hover {
    color: inherit;
}
button {
  border-radius: 3px;
    font-size: 2em;
    padding: 15px;
    background: transparent;
    border: solid rgba(255,255,255,0.5) 2px;
    -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
    transition: all 0.2 ease-in-out;
}
button:hover {
    background: #FFF;
}
.current {
    background: white;
}
