<nav id="nav-bar">
 <ul id="nav">
     <li><a href="index.html"><button class="{% if page.url == '/index.html'%}current{% endif%}">HOME</button></a></li>  
     <li><a href="about.html"><button class="{% if page.url == '/about.html'%}current{% endif%}">ABOUT</button></a></li>
     <li><a href="article.html"><button class="{% if page.url == '/article.html'%}current{% endif%}">ARTICLE OF THE DAY</button></a></li>    
     <li><a href="all.html"><button class="{% if page.url == '/all.html'%}current{% endif%}">ALL</button></a></li>
 </ul>
</nav>